@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {

html,
body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #030712;
}
}